/*1440x900 */
@media (max-width: 1440px) and (max-height: 900px) {
  body {
    background-image: url("../images/grid.svg");
  }

  .logo {
    margin-left: 0.2%;
    margin-top: 0.5%;
  }

  .ctrl {
    font-size: 3em;
  }

  nav {
    width: 53%;
    height: 6%;
    gap: 5%;
    margin-top: -3%;
  }

  .nav-btn {
    font-size: 1.11em;
    padding: 0.8em 0.8em;
  }

  .carousel-content h1 {
    font-size: 2em;
  }

  .carousel-content p {
    font-size: 1.5em;
  }

  .call-us {
    position: absolute;
    left: 40%;
    top: 85%;
    width: 20.2%;
  }

  .ctrlZ {
    font-family: "Helvetica_bold";
    font-size: 3.5em;
    color: #151515;
    margin-top: -23%;
  }

  .carousel-number {
    width: 60px;
    height: 60px;
    top: -265px;
  }

  .number-circle {
    font-family: "Helvetica_regular";
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f7f7f7;
    font-size: 4em;
  }

  .carousel-controls img {
    width: 3.5vw;
    height: auto;
  }
}

@media (max-width: 1366px) and (max-height: 768px) {
  .carousel-content p {
    font-size: 1.4em;
  }

  .call-us {
    position: absolute;
    left: 40%;
    top: 85%;
    width: 21.2%;
  }
  .carousel-content h1 {
    font-size: 1.9em;
  }

  .carousel-number {
    width: 60px;
    height: 60px;
    top: -215px;
  }
}

/* ipad */
@media (max-width: 768px) and (max-height: 1024px) {
  body {
    background-image: url("../images/gridIPad.svg");
  }
  .mobile_rotate_up {
    transform: rotate(90deg);
  }
  .mobile_rotate_down {
    transform: rotate(90deg);
  }

  .logo {
    padding: 2%;
  }

  .ctrlZ {
    font-size: 2em;
  }

  header {
    height: 10%;
    width: 100%;
    margin: 0%;
  }

  nav {
    gap: 3%;
    width: 73%;
    padding-top: 13%;
    margin-left: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63%;
  }

  .nav-btn {
    font-size: 1.2em;
  }

  .carousel-wrapper {
    height: 70%;
    padding-top: 5%;
  }

  .carousel {
    height: 40%;
  }

  .carousel-item {
    width: 100%;
  }

  .carousel-content h1 {
    font-size: 2em;
    width: 90%;
    margin-left: 5%;
    padding: 2% 0;
  }

  .carousel-content p {
    font-size: 1em;
    width: 90%;
    margin-left: 5%;
    padding: 2% 0;
  }

  /* Tablet адаптив второй */
  body {
    background-image: url("../images/gridIPad.svg");
  }

  /* Вертикальная карусель */
  .carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    padding-top: 5%;
  }

  .carousel {
    position: relative;
    width: 100%;
    height: 70%;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .carousel-item {
    border: 2px solid #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform 1s, opacity 1s;
    opacity: 0;
  }

  .carousel-item:nth-child(1) {
    background-image: url("../images/firstCentral.png");
  }

  .carousel-item:nth-child(2) {
    background-image: url("../images/secondRight.png");
  }

  .carousel-item:nth-child(3) {
    background-image: url("../images/thirdLeft.png");
  }

  .carousel-item:nth-child(4) {
    background-image: url("../images/fouthLeft.png");
  }

  .carousel-item:nth-child(5) {
    background-image: url("../images/fifthRight.png");
  }

  .carousel-item.active {
    opacity: 1;
    z-index: 2;
  }

  .carousel-item.prev {
    transform: translateY(-100%) scale(0.9) rotateX(35deg);
    z-index: 1;
    opacity: 1;
  }

  .carousel-item.next {
    transform: translateY(100%) scale(0.9) rotateX(-35deg);
    z-index: 1;
    opacity: 1;
  }

  .carousel-controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .carousel-controls button {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
  }

  .carousel-controls.top {
    top: 0;
    justify-content: center;
  }

  .carousel-controls.bottom {
    bottom: 0;
    justify-content: center;
  }

  .carousel {
    position: relative;
    width: 53%;
    height: 23%;
    margin-top: 41.3%;
    margin-left: 23.5%;
  }

  .carousel-number {
    width: 55px;
    height: 55px;
  }

  .number-circle {
    font-size: 6vh;
  }

  .carousel-content h1 {
    margin-top: -26.6%;
  }

  .carousel-content p {
    font-size: 1.2em;
  }
  .carousel-controls img {
    width: 6vw;
    height: auto;
  }
  .carousel-controls .prev {
    left: 47%;
    margin-top: -43%;
  }

  .carousel-controls .next {
    right: 47%;
    margin-top: 51%;
  }

  .call-us {
    position: absolute;
    left: 31.5%;
    top: 93%;
    width: 36.2%;
    background-color: rgba(247, 247, 247, 0.1);
    backdrop-filter: blur(8px);
    border: 2px solid #151515;
    font-family: "Helvetica_regular";
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 1.1%;
    display: inline-block;
    cursor: pointer;
  }
}

/* iphone */
@media (max-width: 414px) and (max-height: 896px) {
  body {
    background-image: url("../images/gridiphone.svg");
    position: fixed;
  }

  header {
    height: 17%;
  }

  .logo {
    font-size: 0.9em;
    margin-left: 1%;
    margin-top: 9%;
  }

  nav {
    gap: 3%;
    width: 92%;
    height: 10%;
    position: absolute;
    top: 5.3%;
    left: 10%;
    justify-content: space-around;
  }

  .nav-btn {
    width: 20%;
    border: 1px solid #151515;
    font-size: 0.7em;
    text-align: center;
    padding: 0.5em 0.5em 0.6em 0.5em;
  }

  .carousel {
    position: relative;
    width: 70%;
    height: 19%;
    margin-top: 44.3%;
    margin-left: 14.5%;
  }

  .carousel-number {
    width: 30px;
    height: 30px;
    top: -290px;
    left: -9%;
  }

  .carousel-controls img {
    width: 8vw;
    height: auto;
  }

  .carousel-controls .prev {
    left: 45%;
    margin-top: -68%;
  }

  .carousel-controls .next {
    right: 46%;
    margin-top: 59%;
  }

  .number-circle {
    font-size: 4vh;
  }

  .carousel-item {
    width: 90%;
  }

  .carousel-content h1 {
    font-size: 1.5em;
    width: 80%;
    margin-left: 10%;
    margin-top: -50%;
    padding: 2% 0;
    backdrop-filter: blur(4px);
  }

  .carousel-content p {
    font-size: 1em;
    width: 80%;
    margin-left: 10%;
    padding: 2% 0;
  }

  .carousel-item.prev {
    transform: translateY(-100%) scale(0.9) rotateX(35deg);
  }
  .carousel-item.next {
    transform: translateY(100%) scale(0.9) rotateX(-35deg);
  }

  .call-us {
    position: absolute;
    left: 26.5%;
    top: 81%;
    width: 45.2%;
    background-color: rgba(247, 247, 247, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid #151515;
    font-family: "Helvetica_regular";
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 1.3%;
    display: inline-block;
    cursor: pointer;
  }
}
