@media (max-width: 768px) and (max-height: 1024px) {
  .product {
    position: relative;
    width: 32vw;
    height: 29.5vw;
    border: 2px solid #000;
    background-color: #ccc;
    overflow: hidden;
  }

  .close-btn {
    background: url(../images/roundWithCross.svg) center / contain no-repeat;
    width: 4vw;
    height: 4vw;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8.7%;
    padding-right: 2%;
    flex-wrap: wrap; /* Добавлено для обеспечения корректного отображения элементов */
    height: auto;
    /* overflow-y: auto; */
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Добавлено для обеспечения вертикальной прокрутки */
  }

  .buy-btn {
    display: inline-block;
    width: 10vw;
    height: 4vw;
    margin-top: 72%;
    margin-left: 13%;
    padding: 2%;
    border: 2px solid #000;
    background-color: transparent;
    cursor: pointer;
    font-family: "Helvetica_regular";
    color: #151515;
    font-size: 2vw;
    /* text-align: center; */
    text-decoration: none;
    line-height: 2vw;
  }
  .priceandtitle {
    margin-top: 71%;
  }

  .item-name {
    font-family: "Helvetica_bold";
    font-size: 2.5vw;
    color: #151515;
    margin-bottom: 0.5vw;
  }
}

@media (max-width: 414px) and (max-height: 896px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1%;
    justify-items: center;
  }

  .product {
    position: relative;
    width: 69vw;
    height: 65vw;
    border: 1px solid #000;
    background-color: #ccc;
    overflow: hidden;
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 11.7%;
    padding-right: 0%;
  }
  .close-btn {
    background: url(../images/roundWithCross.svg) center / contain no-repeat;
    width: 8vw;
    height: 8vw;
  }
  .priceandtitle {
    margin-top: 77%;
  }
  .item-name {
    font-family: "Helvetica_bold";
    font-size: 5.5vw;
    color: #151515;
    margin-bottom: 0.5vw;
  }
  .item-price {
    font-family: "Helvetica_regular";
    font-size: 3vw;
    color: #151515;
    margin-bottom: 1vw;
  }
  .buy-btn {
    display: inline-block;
    width: 15vw;
    height: 6vw;
    margin-top: 78%;
    margin-left: 13%;
    padding: 2%;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    font-family: "Helvetica_regular";
    color: #151515;
    font-size: 3vw;
  }
}
