* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f7f7f7;
    background-image: url("../images/gridFullHd.svg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    backdrop-filter: blur(4px);
    /* filter: blur(6px); */
    /* z-index: 1; */
  }

.email_form {
    width: 80%; /* Адаптивная ширина */
    max-width: 400px; /* Максимальная ширина */
    padding: 10px;
    border: 2px solid #000;
    font-size: 1.5em;
    box-sizing: border-box;
}

.text_input {
    width: 80%; /* Адаптивная ширина */
    max-width: 400px; /* Максимальная ширина */
    padding: 10px;
    border: 2px solid #000;
    font-size: 1.5em;
    box-sizing: border-box;
}

.submit-btn {
    width: 80%; /* Адаптивная ширина */
    max-width: 400px; /* Максимальная ширина */
    padding: 10px;
    border: 2px solid #000;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 9%;
}

/* .close_btn_help {
    background: url(../images/roundWithCross.svg) center / contain no-repeat;
    width: 2.5vw;
    height: 2.5vw;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 2;
} */
main {
    position: relative;
    /* width: 100%;
    height: 100%; */
    /* filter: blur(6px); */
    z-index: 2;

}

.grid-container {
    position: absolute;
    width: 38%;
    height: 50%;
    left: 40%;
    margin-top: 16%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 20px; */
    align-items: baseline;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    /* position: absolute; */
    /* left: 113%; */
    display: flex;
    /* justify-content: unset; */
    /* align-items: center; */
    margin-left: 51%;
    /* margin-top: -24%; */
    transform: rotate(45deg);
}

.text_input, .submit-btn {
    width: 100%; /* Полная ширина родительского контейнера */
    /* max-width: 400px; */
    /* padding: 10px; */
    margin-bottom: 10px; /* Интервал между элементами формы */
    box-sizing: border-box;
}

.close_btn_help {
    background: url(../images/roundWithCross.svg) center / contain no-repeat;
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
    user-select: none; /* Убирает выделение текста */
    outline: none; /* Убирает рамку при фокусе */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 2;
}

.ctrlZ_help {
    font-family: "Helvetica_bold";
    font-size: 6em;
    color: #151515;
    margin-bottom: 9%;
}
